@model Entidades.EF.Usuario
<link rel="stylesheet" href="@Url.Content("~/css/Login.css")" />
<body>
	<div class="container">
		<div class="image-side">
			<img src="/Imagenes/Login.png" alt="Dragon Illustration" />
		</div>
		<div class="form-side">
			<h2 class="logo">CASINO CRUSADERS</h2>
			<p class="subtitle">Registrate aquí o <a asp-action="Login">Logueate</a> si ya tenes una cuenta.</p>

			<div class="social-buttons">
				<button class="social google">Google</button>
				<button class="social facebook">Facebook</button>
			</div>

			<div class="divider">o</div>
			<form asp-action="Registrar" method="post" class="register-form">
				<div class="form-group">
@* 					@Html.LabelFor(Model => Model.NombreUsuario)
					@Html.TextBoxFor(Model => Model.NombreUsuario)
					@Html.ValidationMessageFor(Model => Model.NombreUsuario) *@
					<label asp-for="NombreUsuario" class="form-label"></label>
					<input asp-for="NombreUsuario" class="form-control" />
					<span asp-validation-for="NombreUsuario" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Gmail" class="form-label"></label>
					<input asp-for="Gmail" class="form-control" />
					<span asp-validation-for="Gmail" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Contraseña" class="form-label"></label>
					<input asp-for="Contraseña" type="password" class="form-control pass-validation-1" />
					<span asp-validation-for="Contraseña" class="text-danger"></span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Registrar</button>
				</div>
			</form>
		</div>
	</div>
</body>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}


