@{
    ViewData["Title"] = "Gestión de Usuarios";
}

<link rel="stylesheet" href="~/css/admin-section.css" />

<div class="section-container">
    <h1 class="section-title">Gestión de Usuarios</h1>
    <p class="section-subtitle">Aquí podés administrar los usuarios del videojuego: editar, banear o ver información.</p>

    <div class="section-card">
        <p>tabla con usuarios.</p>
    </div>
</div>